python-dotenv==1.1.1
tqdm==4.67.1
openai==2.8.1
scikit-image
Pillow
numpy

# Local packages (editable install)
-e thirdparty/BrowserGym/browsergym/core
-e thirdparty/BrowserGym/browsergym/experiments
-e thirdparty/BrowserGym/browsergym/webarena
